header {
    background-color: black;
    color: steelblue;
}

h2 {
    background-color: black;
    color: steelblue;
}

img {
    max-width: 50%;
}

h3 {
    background-color: black;
    color: steelblue;
}